@import "tailwindcss";

/* =========================
   VARIÁVEIS GLOBAIS
   ========================= */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Integração com fontes do Next */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* =========================
   CORREÇÃO DE ÂNCORAS (#)
   Header sticky grande
   ========================= */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-h, 0px);
}


/* Mobile */
@media (max-width: 860px) {
  html {
    scroll-padding-top: 170px;
  }
}

/* =========================
   BODY
   ========================= */
body {
  margin: 0;
  background: #070707;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
